{% extends "base-my.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>{{ book.title }}</h1>
  <p>by {{ book.author }}</p>
  <p>Subtitle: {{ book.subtitle }}</p>
  <p>Description: {{ book.description }}</p>
  <p>Tags: {{ book.tags }}</p>
  <br><br>
  <p>Chapters:</p>
  {% for chapter in chapters %}
    <a href="{% url 'writer:chapter' slug_book=book.slug slug_chapter=chapter.slug pk_chapter=chapter.pk %}">
      {{ chapter.nr }}. {{ chapter }}
    </a>
    {% if chapter.published %}
      <p class="text-success">published</p>
    {% else %}
      <br><br>
    {% endif %}


  {% endfor %}
  <br><br>


  <a href="{% url 'writer:chapter-create' slug_book=book.slug pk_book=book.pk %}" class="btn btn-lg btn-outline-dark" role="button">New chapter</a>

</div>


{% endblock content %}
