{% extends "base-my.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>{{ book.title }}</h1>
  <p>by {{ book.author }}</p>
  <p>Subtitle: {{ book.subtitle }}</p>
  <p>Description: {{ book.description }}</p>
  <p>Tags: {{ book.tags }}</p>
  <br><br>
  <p>Chapters:</p>
  {% for chapter in chapters %}
    <a href="{% url 'writer:chapter' book.slug chapter.slug_chapter %}">{{ chapter.nr }}. {{ chapter }}</a><br><br>
  {% endfor %}
  <br><br>


  <a href="{% url 'writer:add_chapter' book.slug %}" class="btn btn-lg btn-outline-dark" role="button">Add chapter</a>

</div>


{% endblock content %}
