{% extends "base-my.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>Chapter {{ chapter.nr }}. {{ chapter.title }}</h1>
  <p>from book {{ chapter.book }}</p>
  <br><br>

  {% for element in elements %}
    {% if element.picture %}
      <img src="{{ element.picture.url }}" class="img-thumbnail"/>
    {% elif element.text %}
      <p>{{ element.text|linebreaks }}</p>
      <p class="font-bigger">{{ element.text|linebreaks }}</p>
    {% endif %}
  {% endfor %}

  <br><br>
  <div class="text-center">
    <a class="btn btn-lg btn-outline-dark" href="{% url 'writer:text_create' chapter.book.slug chapter.slug_chapter chapter.pk %}">+ Text</a>
    <a class="btn btn-lg btn-outline-dark" href="{% url 'writer:add_picture' chapter.book.slug chapter.slug_chapter chapter.pk %}">+ Picture</a>
  </div>


</div>


{% endblock content %}
