{% extends "base-my.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>Update Picture</h1>
  <p>You're updating picture from {{ picture.chapter.title }} in {{ picture.chapter.book.title }}</p>
  <img src="{{ picture.picture.url }}" class="img-thumbnail"/>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <br><br>
    <div class="text-center">
      <input type="submit" class="btn btn-lg btn-outline-dark" role="button" value="Update"/>
    </div>
  </form>


  <br><br>



</div>


{% endblock content %}
