{% extends "base-my.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>Write!</h1>
  <p>Hello dear Author</p>
  <p>Your books</p>
  <a href="#">Book nr 1</a><br>
  <a href="#">Book nr 2</a><br>
  <a href="#">Book nr 3</a><br>
  <a href="#">Book nr 4</a><br>
  <a href="#">Book nr 5</a><br><br>

  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Add new book</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Rates</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Messages</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Fans</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Money</a>


</div>


{% endblock content %}
