{% extends "base-my.html" %}
{% block content %}


<div class="container py-5">
  <h1>Writer's dashboard</h1>
  <p>{{ view.request.user }}</p>

  <a href="{% url 'writer:books' %}" class="btn btn-lg btn-outline-dark" role="button">Your books</a>
  <br><br>
  <a href="{% url 'writer:book-create' %}" class="btn btn-lg btn-outline-dark" role="button">New book</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Rates</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Messages</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Fans</a>
  <br><br>
  <a href="#" class="btn btn-lg btn-outline-dark" role="button">Money</a>


</div>


{% endblock content %}
