{% extends "base-for-all.html" %}
{% load static i18n %}
{% block main %}

  {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}


  {% include "_nav2.html" %}
  
  {% block content %}
    <p>Use this document as a way to quick start any new project.</p>
  {% endblock content %}



  {% block modal %}{% endblock modal %}

{% endblock main %}
