{% extends "base-my.html" %}

{% block content %}

<div class="container-fluid d-flex flex-column h-100 justify-content-between min-height-100">
  {% include "_nav2.html" %}
  <div class="d-flex flex-column justify-content-end h-50 becca">
    <p class="px-2 text-white">Photo by Becca Tapert on Unsplash</p>
  </div>
  <div class="text-center ">
    <a href="{% url 'reader' %}" class="btn btn-lg btn-outline-dark" role="button">Reader</a>
    <a href="{% url 'writer' %}" class="btn btn-lg btn-outline-secondary" role="button">Writer</a>
  </div>
  <br><br>
</div>

{% endblock content %}
