{% extends "base-my.html" %}
{% block content %}


<div class="container py-5">
  <h1>Books</h1>
  <p>
    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Search
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form method="get">
        {{ form }}
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
  {% for book in books %}
    <p><a href="{% url 'read:book-detail' slug_book=book.slug pk_book=book.pk %}">{{ book.title }}</a> by {{ book.author }}</p>
  {% endfor %}

</div>


{% endblock content %}
