{% extends "base-my.html" %}
{% block content %}


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container py-5">
  <h1>Chapter {{ chapter.nr }}. {{ chapter.title }}</h1>
  <p>{{ chapter.book }}</p>
  <br><br>
  {% for element in elements %}
    {% if element.picture %}
      <img src="{{ element.picture.url }}" class="img-thumbnail"/>
    {% elif element.text %}
      <p>{{ element.text|linebreaks }}</p>
      <p class="font-bigger">{{ element.text|linebreaks }}</p>
    {% endif %}
  {% endfor %}
  <br><br>
  <div class="text-center">

    <div class="fb-share-button" data-href="https://www.tryread.com/{% url 'read:book-detail' slug_book=chapter.book.slug pk_book=chapter.book.pk %}" data-layout="button" data-size="large" data-mobile-iframe="true">What a thing!<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.tryread.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

  </div>
  <br><br>
  <div class="text-center">
    <a href="" class="btn btn-lg btn-outline-secondary" role="button">Write to the author</a>
  </div>
  <br><br>
  <div class="text-center">
    {% if chapter.previous_chapter_pk %}
      <a href="{% url 'read:chapter-detail' slug_book=chapter.book.slug pk_book=chapter.book.pk pk_chapter=chapter.previous_chapter_pk %}" class="btn btn-lg btn-outline-secondary" role="button"><<</a>
    {% endif %}
    {% if chapter.next_chapter_pk %}
      <a href="{% url 'read:chapter-detail' slug_book=chapter.book.slug pk_book=chapter.book.pk pk_chapter=chapter.next_chapter_pk %}" class="btn btn-lg btn-outline-secondary" role="button">>></a>
    {% endif %}
  </div>
</div>



{% endblock content %}
