{% extends "base-my.html" %}

{% block content %}

<div class="container-fluid d-flex flex-column h-100 justify-content-between min-height-100">
  {% include "_nav2.html" %}
  <div class="text-center">
    <h1>Hello!</h1>
    <h2>{{ view.request.user.username }}</h2>
    <br><br>
    <p>What are you gonna do now?</p>
    <a href="#" class="btn btn-lg btn-outline-dark" role="button">Read</a>
    <a href="#" class="btn btn-lg btn-outline-secondary" role="button">Publish</a>
  </div>
  <br><br>
</div>

{% endblock content %}
